

@font-face {
    font-family: 'Futura PT Book';
    src: url('../fonts/FuturaPT/FuturaPT-Book.eot');
    src: url('../fonts/FuturaPT/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPT-Book.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('../fonts/FuturaPT/FuturaPT-BookObl.eot');
    src: url('../fonts/FuturaPT/FuturaPT-BookObl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPT-BookObl.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-BookObl.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('../fonts/FuturaPT/FuturaPTCond-Bold.eot');
    src: url('../fonts/FuturaPT/FuturaPTCond-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPTCond-Bold.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPTCond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-Bold.eot');
    src: url('../fonts/FuturaPT/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPT-Bold.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-BoldObl.eot');
    src: url('../fonts/FuturaPT/FuturaPT-BoldObl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPT-BoldObl.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-BoldObl.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Demi';
    src: url('../fonts/FuturaPT/FuturaPT-Demi.eot');
    src: url('../fonts/FuturaPT/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPT-Demi.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('../fonts/FuturaPT/FuturaPTCond-ExtraBold.eot');
    src: url('../fonts/FuturaPT/FuturaPTCond-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPTCond-ExtraBold.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPTCond-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-ExtraBold.eot');
    src: url('../fonts/FuturaPT/FuturaPT-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPT-ExtraBold.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-Heavy.eot');
    src: url('../fonts/FuturaPT/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPT-Heavy.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}