@font-face {
    font-family: 'Futura New';
    src: url('../fonts/FuturaNew/FuturaNewBold-Reg.eot');
    src: url('../fonts/FuturaNew/FuturaNewBold-Reg.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaNew/FuturaNewBold-Reg.woff2') format('woff2'),
        url('../fonts/FuturaNew/FuturaNewBold-Reg.woff') format('woff'),
        url('../fonts/FuturaNew/FuturaNewBold-Reg.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: url('../fonts/FuturaNew/FuturaNewHeavy-Reg.eot');
    src: url('../fonts/FuturaNew/FuturaNewHeavy-Reg.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaNew/FuturaNewHeavy-Reg.woff2') format('woff2'),
        url('../fonts/FuturaNew/FuturaNewHeavy-Reg.woff') format('woff'),
        url('../fonts/FuturaNew/FuturaNewHeavy-Reg.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-Book.eot');
    src: url('../fonts/FuturaPT/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPT-Book.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-Bold.eot');
    src: url('../fonts/FuturaPT/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPT-Bold.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-Light.eot');
    src: url('../fonts/FuturaPT/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPT-Light.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-Medium.eot');
    src: url('../fonts/FuturaPT/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPT-Medium.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-Demi.eot');
    src: url('../fonts/FuturaPT/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPT-Demi.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-DemiObl.eot');
    src: url('../fonts/FuturaPT/FuturaPT-DemiObl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPT-DemiObl.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-DemiObl.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-Heavy.eot');
    src: url('../fonts/FuturaPT/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT/FuturaPT-Heavy.woff') format('woff'),
        url('../fonts/FuturaPT/FuturaPT-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}